<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byType">
    <bean id="consoleprinter" class="com.infosupport.springframework.basis.app.services.ConsolePrinterService"/>
    <bean id="worker" class="com.infosupport.springframework.basis.app.services.WorkerBeanInNeedOfPrinterService" autowire="byType">
<!--        <property name="printer" ref="consoleprinter"/>-->
    </bean>
</beans>